img {
  border-radius: 0%;
  width: 40%;
}

#icon {
  width: 3%;
  height: 3%;
}

.selfie {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto; /* half width of img */
}
@media (min-width: 600px) {
  p {
    font-size: 1.25;
  }
}
@media (min-width: 800px) {
  p {
    font-size: 1.5;
  }
}
